<div class="body">
  <div class="search-container">
      <div class="header">
          <h1>Explore your travel opportunities with us!</h1>
        <h3>Book your ticket now</h3>
      </div>
      <form>
      <mat-form-field >
          <mat-label>
            From:
          </mat-label>
          <mat-select required  [(value)]="selectedDeparture">
            <mat-option [value]="departureCity.name" *ngFor="let departureCity of departureDropdownData" >
            {{departureCity.name}}
          </mat-option>
          </mat-select>
          <mat-hint>CITY OF DEPARTURE</mat-hint>
      </mat-form-field>
      <img class="img" src="../../../assets/2.png" height="20px">
      <mat-form-field>
          <mat-label>
            To:
          </mat-label>
          <mat-select  required [(value)]="selectedArrival" >
            <mat-option [value]="arrivalCity.name" *ngFor="let arrivalCity of arrivalDropdownData" >
              {{arrivalCity.name}}
            </mat-option>
          </mat-select>
          <mat-hint>CITY OF ARRIVAL</mat-hint>
        </mat-form-field>
        <mat-form-field class="date">
          <mat-label>
            Date:
          </mat-label>
          <input matInput [matDatepicker]="datepicker" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle  matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker >
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button  mat-stroked-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <button class="button" (click)="search()">
          Search
        </button>
    </form>
  </div>
</div>
<div class="ticket-body">
<div class="container" >
  <div class="item" *ngFor="let ticket of ticketData">
    <div class="item-right">
      <span class="num" >23.01</span>
      <span class="up-border"></span>
      <span class="down-border"></span>
    </div> 
    
    <div class="item-left">
      <p class="event">Train connection</p>
      <h2 class="title">{{ticket.departureCity}} - {{ticket.arrivalCity}}</h2>
      
      <div class="sce">
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        <p>Monday 15th 2016 <br/> 15:20Pm & 11:00Am</p>
      </div>
      <div class="fix"></div>
      <div class="loc">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <p>North,Soth, United State , Amre <br/> Party Number 16,20</p>
      </div>
      <div class="fix"></div>
      <button class="button">Book</button>
    </div> 
  </div>
</div>
