<div class="body">
  <div class="sidebar">
      <h1 class="header">Search Filters</h1>
      <form class="filter-form">
        <label for="mat-radio-button">Show fast trains only</label>
        <mat-radio-group aria-label="Show Fast trains" id="mat-radio-button">
          <mat-radio-button mat-button color="primary" value="1">Yes</mat-radio-button>
          <mat-radio-button mat-button color="primary" value="2">No</mat-radio-button>
        </mat-radio-group>
          <mat-form-field floatLabel="always">
              <mat-label>From:</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="0">
              <span matTextPrefix>$&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
            <mat-form-field class="date">
              <mat-label>
                Date:
              </mat-label>
              <input matInput [matDatepicker]="datepicker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle  matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker >
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button  mat-stroked-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
  
        <button class="button" >Apply</button>
      </form>
  </div>
  <div class="container">
      <div class="header">
          <h1>Explore your travel opportunities with us!</h1>
        <h3>Book your ticket now</h3>
      </div>
      <form>
      <mat-form-field >
          <mat-label>
            From:
          </mat-label>
          <mat-select required>
            <mat-option *ngFor="let departureCity of departureDropdownData" [value]="departureCity.name">
            {{departureCity.name}}
          </mat-option>
          </mat-select>
          <mat-hint>CITY OF DEPARTURE</mat-hint>
      </mat-form-field>
      <img class="img" src="../../../assets/2.png" height="20px">
      <mat-form-field>
          <mat-label>
            To:
          </mat-label>
          <mat-select  required>
            <mat-option [value]="arrivalCity" *ngFor="let arrivalCity of arrivalDropdownData">
              {{arrivalCity.name}}
            </mat-option>
          </mat-select>
          <mat-hint>CITY OF ARRIVAL</mat-hint>
        </mat-form-field>
        <mat-form-field class="date">
          <mat-label>
            Date:
          </mat-label>
          <input matInput [matDatepicker]="datepicker" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle  matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker >
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button  mat-stroked-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <button class="button" (click)="search()">
          Search
        </button>

    </form>
  </div>
</div>
