form {
    top:0;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-between;
    margin: 80px;
  }

  .button {
    font-size:medium;
    padding: 15px 75px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 22px;
  }
  
  button:hover {
    background-color: #be55b7;
    cursor: pointer;
  }
  
 .img {
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  ::ng-deep mat-form-field {
    margin: 5px;
    border-radius: 15px;
  }

  @media (max-width: 1000px) {

    form {
      flex-direction: column;
      align-items: center;
    }

    .header {
      margin-top: 100px;
    }

    mat-form-field {
      width: 60%;
      align-items: center;
    }

    .img {
      display: none;
    }

    .button {
        font-size:medium;
        padding: 15px 55px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
  }