  
  .sidebar {
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
  }
  
  .filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .filter {
    margin: 10px 0;
  }
  
  .apply-filters-button {
    font-size: medium;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }