<div class="body">
    <div class="header">
        <h1>Explore your travel opportunities with us!</h1>
      <h3>Book your ticket now</h3>
    </div>
    <div class="container">
      <form >

      <mat-form-field >
        <mat-label>
          Departure
        </mat-label>
        <mat-select required>
          <mat-option *ngFor="let departureCity of departureDropdownData" [value]="departureCity.name">
          {{departureCity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon svgIcon="thumbs-up" ></mat-icon>
      <mat-form-field>
        <mat-label>
          Arrival
        </mat-label>
        <mat-select  required>
          <mat-option [value]="arrivalCity" *ngFor="let arrivalCity of arrivalDropdownData">
            {{arrivalCity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <button type="submit" class="button">
          Search
        </button>

      </form>
    </div>
</div>
