.body {
    min-height: 80vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    overflow: hidden;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    width: calc(80% - 20px);
    position: relative;

  }
  
  .header {
    margin-bottom: 30px;
    text-align: center;
    color: #564498;
  }

 .header h1 {
    font-weight: 600;
    font-size: 30px;
    background-image: linear-gradient(45deg, #564498, #be55b7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.header h3 {
    font-weight: 300;
    color:#564498;
    font-size: 22px;
}

  .container form {
    top:0;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-between;
    margin: 80px;
  }
  
  .container input {
    background-color: rgba(255, 255, 255, 0.619);
    font-size:medium;
    align-content: normal;
    padding: 15px 10px;
    margin:10px;
    border: none;
    border-radius: 10px;
    width: 25%;
  }
   
  .button {
    font-size:medium;
    padding: 15px 75px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 22px;
  }
  
  .container button:hover {
    background-color: #be55b7;
    cursor: pointer;
  }

  ::ng-deep mat-form-field {
    margin: 5px;
    width: 300px;
    border-radius: 15px;
  }

  @media (max-width: 1000px) {

    .container form {
        flex-direction: column;
        align-items: center;
    }

    .header {
        margin-top: 100px;
    }

    input {
        width: 50%;
        align-items: center;
    }

    .button {
        font-size:medium;
        padding: 15px 55px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
  }