<div class="body">
    <div class="header">
        <h1>Explore your travel opportunities with us!</h1>
      <h3>Book your ticket now</h3>
    </div>
    <div class="container">
      <form>
        <input type="text" id="departureCity" name="departureCity" placeholder="Departure ">
        <input type="text" id="destinationCity" name="destinationCity" placeholder="Destination ">
        <input type="time" id="destinationCity" name="destinationCity" placeholder="Departure Time">
        <button type="submit" class="button">Search</button>
      </form>
    </div>
</div>