.body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    overflow: hidden;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    width: calc(80% - 20px);
    position: relative;
  }
  
  .header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #564498;
  }

 .header h1 {
    font-weight: 300;
    background-image: linear-gradient(45deg, #564498, #be55b7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .container form {
    top:0;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-between;
    margin: 80px;
  }
  
  .container input {
    font-size:medium;
    align-content: normal;
    padding: 15px 50px;
    margin:10px;
    border: none;
    border-radius: 10px;
    width: 25%;
  }
   
  .button {
    font-size:medium;
    padding: 15px 75px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .container button:hover {
    background-color: #a0418e;
    cursor: pointer;
  }

  @media (max-width: 1000px) {

    .container form {
        flex-direction: column;
        align-items: center;
    }
    .button {
        font-size:medium;
        padding: 15px 35px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
  }