<div class="body">
    <div class="container">
        <form>
            <h1>Sign In</h1>
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit" class="button">Sign In</button>
            <!-- <a href="">Register</a> -->
        </form>
        <div>
            <img src="../../../assets/train.jpeg" height="500px" alt="">
        </div>
    </div>
</div>